streamlit
langchain
langchain-community
langchain-huggingface
langchain-cerebras
langchain-mistralai
langchain-google-genai
faiss-cpu
openai-whisper
torch
python-dotenv
asyncio
pymupdf
sentence-transformers
