streamlit
langchain
langchain-community
langchain-huggingface
langchain-cerebras
langchain-mistralai
langchain-google-genai
faiss-cpu
openai-whisper
torch
python-dotenv
asyncio
pymupdf
pydub
moviepy
youtube-transcript-api
unstructured 
openpyxl
docx
